In [11]:
import pandas as pd
import numpy as np

In [3]:
# load data 
music_data = pd.read_csv('Global_Music_Streaming_Listener_Preferences.csv')

music_data.head(1)

,User_ID,Age,Country,Streaming Platform,Top Genre,Minutes Streamed Per Day,Number of Songs Liked,Most Played Artist,Subscription Type,Listening Time (Morning/Afternoon/Night),Discover Weekly Engagement (%),Repeat Song Rate (%)
0,U1000,34,Japan,Tidal,Reggae,295,138,Adele,Free,Afternoon,47.42,16.74

In [ ]:
# Fix columns names
music_data.columns = music_data.columns.str.lower()
music_data.columns = music_data.columns.str.replace(' ','_')
music_data.columns = music_data.columns.str.replace('_(%)','')
music_data.columns = music_data.columns.str.replace('_(morning/afternoon/night)','')
music_data.columns

Index(['user_id', 'age', 'country', 'streaming_platform', 'top_genre',
       'minutes_streamed_per_day', 'number_of_songs_liked',
       'most_played_artist', 'subscription_type', 'listening_time',
       'discover_weekly_engagement', 'repeat_song_rate'],
      dtype='object')

In [16]:
# split the data 
# Set 1: country and genre
# set 2: country and streaming minutes
# set 3: age and preferred listening time

set_1 = music_data[['country','top_genre']]
set_2 = music_data[['country','minutes_streamed_per_day']]
set_3 = music_data[['age','listening_time']]

set_3.head(1)

   age listening_time
0   34      Afternoon

In [18]:
# export_data
set_1.to_csv('./clean_data/country_genre.csv', index= False)
set_2.to_csv('./clean_data/country_listen_time.csv', index=False)
set_3.to_csv('./clean_data/age_time_of_day.csv', index = False)